
/*border box sizing for all*/
*, *::before, *::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*reset margins, paddings and border so we know what we are doing*/
html, body, main, h1, h2,
 h3, p, ol, ul, li, a {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;

}

html {
	height: 100%;
	font-size: 100%;
}

body {
	background-color: #f1f1f2;
	font-family: sans-serif;
}

/*sets overall container to be 100% of the page*/
.overall-container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
}

/*main header*/
.main-header {
	overflow: auto;
	background-color: #1995ad;
  padding: 0;
  margin: 0;
  height: 3em;
  width: 100%

}
